.fragment.current-bold {
    &.current-fragment {
        font-weight: bold;
    }
}

.fragment.out-bold {
    font-weight: bold;
    &.visible {
        font-weight: normal;
    }
}

.reveal .slides ul {
    list-style-type: none;
}
.reveal .slides ul ul {
    list-style-type: none;
}

.animated-message {
    position: fixed;
    height: 30px;
    width: 30px;
    background: #bfbfbf;
    transform: translate(40px, 20px);
    box-shadow: 3px 3px 3px black;
/*path('M20,20 C20,100 200,0 200,100')*/
/*    https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Paths */
/*    L500,-10, 640,-10 */
/*    offset-path: path('M20,20 H400 Q450 -40, 500 -10');*/
/*     https://yqnn.github.io/svg-path-editor/ */
    z-index: 99;
    offset-path: path('M -65 68 H 500 Q 625 68 625 10');
    offset-rotate: 0deg;
}

.animated-message.visible {
    animation: move 5000ms infinite forwards ease-in-out;
}

@keyframes move {
    0% {
        offset-distance: 0;
    }
    100% {
        offset-distance: 100%;
    }
}
