.fragment.current-bold {
    &.current-fragment {
        font-weight: bold;
    }
}

.fragment.out-bold {
    font-weight: bold;
    &.visible {
        font-weight: normal;
    }
}

.reveal .slides ul {
    list-style-type: none;
}
.reveal .slides ul ul {
    list-style-type: none;
}
